# env
.env

# python
__pycache__/
*.pyc

# virtual env
venv/

# editor / IDE
.vscode/
.idea/

# tests / tools
.pytest_cache/
.mypy_cache/
.coverage

# airflow
logs/

# dbt
target/
dbt_packages/

# OS
.DS_Store